.card {
    width: 30%;
    margin: 1%;
    overflow: hidden;
}
.card-img-top {
    max-height: 200px;
    max-width: 100%;
    width: fit-content;
    margin: auto;
}
@media screen and (max-width: 992px) {
    .card {
        width: 45%;
    }
}